@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(1, 16, 35);
  --text-primary-color: rgb(255, 255, 255);
  --text-secondary-color: rgb(128, 122, 122);
  --brand-primary-color: rgb(1, 127, 127);
  --brand-secondary-color: rgb(47, 59, 59);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
}
