@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(2, 1, 16);
  --text-primary-color: rgb(255, 255, 255);
  --text-secondary-color: rgb(200, 200, 200);
  --brand-primary-color: rgb(9, 173, 173);
  --brand-secondary-color: rgb(77, 98, 98);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  align-items: center;
  justify-content: center;
}
